/*QUOTEBUILDER STEP ONE*/
#quotebuilder-stepone-blocks { margin-bottom:20px;overflow:hidden; }
#quotebuilder-stepone-blocks .bordered-inner { padding:20px 20px 0 20px;}
#quotebuilder-lp-form, #quotebuilder-lp-form--2, #quotebuilder-step-two-form {text-align: left; font-size: 13px;}
#quotebuilder-lp-form {}
#quotebuilder-step-two-form {padding: 20px;}
.quotebuilder-stepone-block {margin-bottom: 20px;background-color:rgba(255,255,255,0.95); margin-right:20px;width:100%;}
.blue-text,.fieldset-legend{color:#47535a;}
.quotebuilder-menu-item {line-height: 30px; /*height:30px; */ background:#47535a;color: #fff; text-align: center; text-transform: uppercase;}
.front .quotebuilder-menu-item {}
.front .quotebuilder-menu-item,.page-conveyancing-solicitor .quotebuilder-menu-item{cursor: pointer;}
/*.quotebuilder-menu-item:hover,.quotebuilder-menu-item.active:hover {background: #71a8c4;}*/
.quotebuilder-menu-item.active {background: #a9cd60; color:#000;}
.quotebuilder-menu-item .menu-arrow {display: none; position: absolute;
width: 0; 
height: 0; 
border-left: 103px solid transparent;
border-right: 103px solid transparent;
border-top: 15px solid #a9cd60;}
.quotebuilder-menu-item.active .menu-arrow {}
/*.quotebuilder-menu-item:hover .menu-arrow {
   border-top: 15px solid #71a8c4;
}*/
#quotebuilder-menu-one, #quotebuilder-menu-two {  margin-bottom: 5px ! important;}
#quotebuilder-stepone-slideone, #quotebuilder-stepone-slidetwo, #quotebuilder-stepone-slidethree {display: none;}
#quotebuilder-stepone-slideone {}
#quotebuilder-stepone-slidetwo p, #quotebuilder-stepone-slidethree p {/*margin: 0; padding: 0; width: 330px;*/}
#quotebuilder-stepone-slideone.active, #quotebuilder-stepone-slidetwo.active, #quotebuilder-stepone-slidethree.active {display: block;}
#quotebuilder-lp-form span, #quotebuilder-step-two-form .form-type-radio.form-type-textfield label, #quotebuilder-lp-form--2 span, #quotebuilder-step-two-form--2 .form-type-radio.form-type-textfield label {width: 170px;}
#quotebuilder-step-two-form .form-type-radio label {float: left; width: 160px;}
#quotebuilder-step-two-form label {width: 160px; text-align: right; font-weight: normal;} 
#quotebuilder-lp-form span, #quotebuilder-lp-form--2 span {line-height: 28px;color: #000;}
#block-native-native-footer-contact #quotebuilder-lp-form span, #block-native-native-footer-contact #quotebuilder-lp-form--2 span{color:#fff;}
#quotebuilder-step-two-form .form-item {margin: 10px 0;}
#quotebuilder-step-two-form .form-item-toe-quantity {margin-bottom: 30px;}
#quotebuilder-lp-form .form-item-product, #quotebuilder-lp-form .form-item-completion,
#block-native-native-footer-contact .form-item-product, #block-native-native-footer-contact .form-item-completion,
#quotebuilder-step-two-form .form-item-purchase-tenure, #quotebuilder-step-two-form .form-item-sale-tenure,
#quotebuilder-step-two-form .form-item-toe-many-mortgages {
   width: 180px;
   height: 23px;
   overflow: hidden;
   background: url('/sites/all/themes/basic/images/form-select-arrow.jpg') no-repeat right #fff;
   border: 1px solid #ccc;
/*   -webkit-box-shadow: inset 0px 1px 0px 0px #999;
   box-shadow: inset 0px 1px 0px 0px #999;*/
   }
#block-native-native-footer-contact .form-item-product, #block-native-native-footer-contact .form-item-completion{width: 178px;  margin: 0 0 10px 0}
#block-native-native-footer-contact .quote-arrow-box {}
#quotebuilder-lp-form .form-item-completion, #block-native-native-footer-contact .form-item-completion {
   background: url('/sites/all/themes/basic/images/select-calendar.png') no-repeat right #fff;
}
#quotebuilder-step-two-form .form-item-purchase-tenure,
#quotebuilder-step-two-form .form-item-sale-tenure,
#quotebuilder-step-two-form .form-item-toe-many-mortgages { margin-left: 186px;}
#quotebuilder-lp-form .form-item-product select,
#quotebuilder-lp-form .form-item-completion select,
#block-native-native-footer-contact .form-item-product select,
#block-native-native-footer-contact .form-item-completion select,
#quotebuilder-step-two-form .form-item-purchase-tenure select,
#quotebuilder-step-two-form .form-item-sale-tenure select,
#quotebuilder-step-two-form .form-item-toe-many-mortgages select{
   cursor: pointer;
   background: transparent;
   width: 180px;
   padding: 0 5px;
   font-size: 13px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 23px;
   -webkit-appearance: none;
   -moz-appearance: none;
   color: #666;
/*   -webkit-box-shadow: inset 0px 1px 0px 0px #999;
   box-shadow: inset 0px 1px 0px 0px #999;*/
}
#quotebuilder-step-two-form .form-type-radios.form-item-toe-legal {margin-top: 30px;}
.form-item-toe-quantity label,.form-item-toe-mortgage label {margin-top:-8px;}
#quotebuilder-step-two-form .form-item-toe-legal label {margin-top:-12px !important;}
#edit-sale .select-title, #edit-purchase .select-title {margin-top:5px;}
#quotebuilder-other-services {}
.quotebuilder-other-service {}

#quotebuilder-callback {padding: 10px 0px 0px 0px; background-color: rgba(71,83,90,0.95);text-align: center; color: #fff;}
/*#quotebuilder-callback {padding: 13px 20px 20px 20px; background-color: rgba(71,83,90,0.95);text-align: center; color: #fff;}*/

#quotebuilder-callback-inner {padding:0; margin-bottom: 25px;}
.quotebuilder-other-service .black-button, .quotebuilder-other-service .blue-button, #quotebuilder-needspeed .black-button {text-transform: uppercase;font-family: 'PTSans'; border: none; background: #000;font-size: 11px;padding: 8px 20px;color:#fff;}
#quotebuilder-callback.quotebuilder-other-service .blue-button {}
.quotebuilder-other-service .black-button:hover,.quotebuilder-other-service .blue-button:hover,#quotebuilder-callback.quotebuilder-other-service .blue-button:hover, #quotebuilder-needspeed .black-button:hover {color:#fff;text-decoration: none; background: #71a8c4;}
.quotebuilder-other-service .form-item-aas-question, .quotebuilder-other-service .form-item-aas-email input {}
.quotebuilder-other-service .form-item-aas-email {}
.quotebuilder-other-service .form-item-aas-email input {
   width: 100%;
  line-height: 20px;color: #666; font-size: 13px; font-family: 'PTSans', Arial;}
.quotebuilder-other-service .form-item-aas-question {}
.quotebuilder-other-service .form-item-aas-question textarea {font-size: 13px;color: #666; padding: 5px; resize: none; font-family: 'PTSans', Arial;
}
/*button styling*/
.green-button {text-transform:uppercase;cursor: pointer;-webkit-appearance: none;height: 60px; width: 180px; font-family: 'TrajanPro'; border: none; background: #a9cd6d;color:#000;font-size: 20px;padding: 10px;}
.quote-link-button {display: block;text-align: center;line-height: 60px;}
.quotebuilder-steptwo-block p {padding: 20px 0px 0 0px;}
.quotebuilder-steptwo-block .green-button {padding: 0px 10px 10px 10px;}
.quote-arrow-box {}
#quote-box-outer {}
#quote-box-outer.instruct-button, .instruct-button .quote-arrow-box{position: inherit;}
.instruct-button .quote-link-button {width:220px;}
.instruct-button .quote-arrow {margin-left:250px;}
.instruct-button .quote-arrow-inner-green {margin-left:240px;}
.instruct-button .quote-arrow-inner-black {margin-left:242px;}
.instruct-button .quote-arrow-inner-box {margin-left:240px;}
#quotebuilder-stepone-slideone .quote-arrow-box, #quotebuilder-stepone-slidetwo .quote-arrow-box, #quotebuilder-stepone-slidethree .quote-arrow-box{}
.quotebuilder-steptwo-block .quote-arrow-box {/*margin-left: 184px;*/}
.quote-arrow-box:hover .green-button {text-decoration: none; background: #71a8c4;color: #fff;}
.quote-arrow {
display: none;
position: absolute;
margin-left: 180px;
width: 0; 
height: 0; 
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 20px solid #a9cd6d;}
.quote-arrow-inner-black {
   display: none;
   position: absolute;
margin-left: 172px;
width: 0; 
height: 0; 
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 20px solid #000;}
.quote-arrow-inner-green {
   display: none;
   position: absolute;
margin-left: 170px;
width: 0; 
height: 0; 
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 20px solid #a9cd6d;}
.quote-arrow-inner-box {
   display: none;
   position: absolute;
margin-left: 170px;
width: 5px;
height: 60px;
background: #a9cd6d;}
.quote-arrow-box:hover .quote-arrow, .quote-arrow-box:hover .quote-arrow-inner-green {border-left: 20px solid #71a8c4;color: #fff;}
.quote-arrow-box:hover input {color: #fff;}
.quote-arrow-box:hover .quote-arrow-inner-box {background: #71a8c4;color: #fff;}
.quote-arrow-box:hover .quote-arrow-inner-black {border-left: 20px solid #fff;}
.quotebuilder-stepone-block .form-submit, .quotebuilder-steptwo-block .form-submit, #block-native-native-footer-contact .form-submit { cursor: pointer;}
/*.quotebuilder-steptwo-block .quote-arrow-bg {background: #a9cd6d url('/sites/all/themes/basic/images/con-quote-text.png') 15px 40px no-repeat;width: 180px;height: 60px;position: absolute;}*/
.quotebuilder-steptwo-block .quote-arrow-bg {background: #a9cd6d;width: 180px;height: 60px;position: absolute;}
.quotebuilder-steptwo-block .form-submit, .quotebuilder-steptwo-block .form-submit:hover {text-align: left;padding-left: 35px;position: absolute;z-index: 10000;background: none;width: 200px;}
/*.quotebuilder-steptwo-block .quote-arrow-box:hover .quote-arrow-bg {background: #71a8c4 url('/sites/all/themes/basic/images/con-quote-text-hover.png') 15px 40px no-repeat;}*/
.quotebuilder-steptwo-block .quote-arrow-box:hover .quote-arrow-bg {background: #71a8c4;}
.quotebuilder-stepone-block.last { width:286px; margin-right:0px;clear:right; }
.quotebuilder-stepone-block .bordered-inner { height:210px;position:relative; }

/*QUOTEBUILDER STEP TWO*/
.page-quotebuilder #content-header, .page-your-quote #content-header {}
#quotebuilder-steptwo-menu .quotebuilder-menu-item {cursor: auto;}
/*#quotebuilder-steptwo-menu .quotebuilder-menu-item:hover {background: #71a8c4;}
#quotebuilder-steptwo-menu .quotebuilder-menu-item.active:hover {background: #71a8c4;}*/
#quotebuilder-step-two-form { padding: 0px 30px 110px 30px;}
#quotebuilder-step-two-form legend {margin-bottom: 10px;}
.quotebuilder-steptwo-block h2 { font-size: 29px; padding: 60px 0px 0 0px; margin: 0; color: #000;}
.quotebuilder-stepthree-block .heading { font-size: 29px; padding: 20px 0 0 0; margin: 0; color: #000;}
.quotebuilder-steptwo-block, .quotebuilder-stepthree-block {/*background-color:rgba(255,255,255,0.95);*/}
.quotebuilder-stepthree-block #mainquotecon, #quotebuilder-instruct-1-form {padding: 40px 30px 0px 30px;}
.quotebuilder-stepthree-block #quoteinstruct {padding: 0 20px;}
.quotebuilder-steptwo-block fieldset {margin: 20px 0 0 0; padding: 0; border: none;}
.quotebuilder-steptwo-block  .form-type-textfield input {
   height: 23px;
   background: #fff;
   border: 1px solid #ccc;
/*   -webkit-box-shadow: inset 0px 1px 2px 0px #aaa;
   box-shadow: inset 0px 1px 2px 0px #aaa;*/
   padding: 0 10px;}
.quotebuilder-steptwo-block .fieldset-legend, .page-your-quote h2 {color:#47535a;font-family:'TrajanPro',Times,serif;font-weight:400;font-size:17px;}
#quotebuilder-step-two-form .description {margin-left: 184px;}
#quotebuilder-step-two-form .form-type-radios {margin-top: 15px; margin-bottom: 20px;}
#quotebuilder-step-two-form .form-type-radios label {position: absolute;padding: 5px 20px 5px 5px;}
#quotebuilder-step-two-form .form-type-radio label {text-align: left; margin-left:168px; width: 195px;font-weight: normal;}
#quotebuilder-step-two-form .form-type-radio {margin: 0 0 15px 0;}
#quotebuilder-step-two-form .form-type-textfield label {text-align: right; padding: 5px 20px 5px 5px; float: left;}
/*#quotebuilder-step-two-form  label[for="edit-product"] {padding-top:13px;}*/
.quotebuilder-steptwo-block .privacy { margin-bottom:10px; margin-top:10px; font-size: 10px; }
.privacy p, #quotebuilder-info p {padding: 0;}
.quotebuilder-steptwo-block .small-submit {position: absolute; margin: 20px 0 0 170px; font-size: 12px;}
.quotebuilder-steptwo-block .small-submit p {font-family: 'TrajanPro'; color: #000;padding: 0;position: absolute;width: 150px;left: 30px;top: 15px;}
.quotebuilder-steptwo-block .select-title {position: absolute; text-align: right; width: 160px;padding: 0px 20px 5px 5px;}
.quotebuilder-steptwo-block .subsection {padding: 5px 0 5px 0;}
/*.quotebuilder-steptwo-block #edit-product {padding-top: 15px;margin-left: 10px;}*/
#edit-details {margin-bottom: 20px;}
#quotebuilder-steptwo-other-services {}
#quotebuilder-steptwo-other-services #quotebuilder-callback, #sidebar-second #quotebuilder-callback {background-color: rgba(71,83,90,0.95);text-align: center; color: #fff; margin-bottom: 20px;}
#quotebuilder-steptwo-other-services #quotebuilder-askasolicitor, #sidebar-second #quotebuilder-askasolicitor{background:rgba(213,217,221,0.95); text-align: center; color: #000;padding: 20px;}
#sidebar-second #quotebuilder-askasolicitor {margin-bottom:20px;  padding: 20px;}
#quotebuilder-steptwo-other-services #quotebuilder-askasolicitor .block-header {color: #000; padding: 10px 0;}
#quotebuilder-steptwo-other-services #quotebuilder-whychoose, #sidebar-second #quotebuilder-whychoose{color: #fff; margin: 0 0 20px 0; padding: 20px 0 20px 30px;}
#quotebuilder-steptwo-other-services #quotebuilder-whychoose {margin-top: 20px;}
#quotebuilder-steptwo-other-services #quotebuilder-whychoose h2 {font-size: 17px;}
.page-your-quote #quotebuilder-whychoose h2 {color:#fff;}
#speed-popup-button .more-info {font-size:10px;line-height:15px;font-style: italic;}
#quotebuilder-steptwo-other-services #quotebuilder-whychoose li, #sidebar-second #quotebuilder-whychoose li {list-style: none; padding: 5px 0;font-size: 15px;}
#quotebuilder-info {padding: 20px 30px 20px 30px; font-size: 10px; color: #47535a; text-align: justify;}
#quotebuilder-whychoose ul {margin:0; padding:0;}
#quotebuilder-whychoose li:before{ 
content:"\2714\0000a0\0000a0";
}
#quotebuilder-needspeed {padding: 0 30px 20px 30px; text-align: center; margin-bottom: 20px;}
#quotebuilder-needspeed #needspeed-inner {padding-top: 20px;background: url('/sites/all/themes/basic/images/hourglass.png') 90px no-repeat;}
#quotebuilder-needspeed .block-header {color: #000;}
#quotebuilder-needspeed .block-header span {font-size: 18px;}
#quotebuilder-needspeed .black-button{}
.popup {display:none;padding: 20px;}
/*#list-popup-button {cursor: pointer; color: #a9cd6d;}*/
/*#list-popup-button:hover {color:#71a8c4;text-decoration:underline;}*/
#list-popup{}
#cancel-popup-button, #priv-popup-button, #list-popup-button{cursor: pointer;text-transform: uppercase;
font-family: 'PTSans';
border: none;
background: #000;
font-size: 11px;
padding: 8px 20px;
color: #fff;
margin-top: 10px;
margin-right:5px;
text-align: center;}
#cancel-popup-button:hover, #priv-popup-button:hover, #list-popup-button:hover {background:#71a8c4;}
#cancel-popup{}
#priv-popup{}
.form-item-phone-valid, .form-item-email-valid  {display: none;}
/**/
#list-popup th, #list-popup td, #node-163 th, #node-163 td {border: 1px solid #ddd; padding: 5px;}

.quotebuilder-stepthree-block th, .quotebuilder-stepthree-block tbody {border: none; padding: 0;}
.quotebuilder-stepthree-block th {border-top: solid 1px #a9cd60; border-bottom: solid 1px #a9cd60;}
.quotebuilder-stepthree-block tr {height:30px;font-size:12px;}
.quotebuilder-stepthree-block table {margin: 10px 0;}
.page-your-quote .light-green-bordered {padding: 10px 30px;margin-bottom: 20px;}
.quotebuilder-stepthree-block .feevalue {width: 25%; text-align: right;}
#cqs-accreditation {width: 120px; padding-left: 20px;padding-bottom:50px;}

#rbg-quote {padding: 20px; margin-bottom: 20px; text-align: center;}
#rbg-quote .block-header {padding: 0; font-size: 20px; color: #000;}
#rbg-quote form {text-align: left; color: #000;}
#rbg-quote form span {padding-left: 3px;font-size: 14px;}
#rbg-quote .quote-arrow-box {margin: 10px 20px 20px 20px;}
#rbg-quote .form-submit {}
#rbg-quote .green-button {background: #fff; cursor: pointer;}
#rbg-quote .quote-arrow {border-left: 20px solid #fff;}
#rbg-quote .quote-arrow-inner-green {border-left: 20px solid #fff;}
#rbg-quote .quote-arrow-inner-box {background: #fff;}
#rbg-quote .quote-arrow-box:hover .green-button {background: #71a8c4; cursor: pointer; color: #fff;}
#rbg-quote .quote-arrow-box:hover .quote-arrow {border-left: 20px solid #71a8c4;}
#rbg-quote .quote-arrow-box:hover .quote-arrow-inner-green {border-left: 20px solid #71a8c4;}
#rbg-quote .quote-arrow-box:hover .quote-arrow-inner-box {background: #71a8c4;}
#rbg-quote .quote-arrow-box:hover .quote-arrow-inner-black {border-left: 20px solid #fff;}
#rbg-quote .form-radios {/*margin-top: 20px;margin-left: 15px;*/}
#rbg-quote .form-type-radio { margin: 0 0 15px 0; }
#rbg-quote .form-type-radio label { text-align: left; color: #000; width: 195px; font-weight: normal; }

#contact-quote-block {padding: 10px; text-align: center;}
#contact-quote-block .block-header {padding: 0; color: #000;}
#contact-quote-block form {text-align: left; margin: 20px; color: #000;margin-left: 5px;}
#contact-quote-block form span {padding-left: 3px;font-size: 14px;}
#contact-quote-block .quote-arrow-box {margin: 20px;}
#contact-quote-block .form-submit {}
#contact-quote-block .green-button {background: #fff; cursor: pointer;}
#contact-quote-block .quote-arrow {border-left: 20px solid #fff;}
#contact-quote-block .quote-arrow-inner-green {border-left: 20px solid #fff;}
#contact-quote-block .quote-arrow-inner-box {background: #fff;}
#contact-quote-block .quote-arrow-box:hover .green-button {background: #71a8c4; cursor: pointer; color: #fff;}
#contact-quote-block .quote-arrow-box:hover .quote-arrow {border-left: 20px solid #71a8c4;}
#contact-quote-block .quote-arrow-box:hover .quote-arrow-inner-green {border-left: 20px solid #71a8c4;}
#contact-quote-block .quote-arrow-box:hover .quote-arrow-inner-box {background: #71a8c4;}
#contact-quote-block .quote-arrow-box:hover .quote-arrow-inner-black {border-left: 20px solid #fff;}
#contact-quote-block .form-radios {margin-top: 20px;margin-left: 15px;}
#contact-quote-block .form-type-radio { margin: 0 0 15px 0; }
#contact-quote-block .form-type-radio label { text-align: left; color: #000; width: 195px; font-weight: normal; }

/* Custom radios - CS */
.skinned-form-controls input[type="radio"], .skinned-form-controls input[type="checkbox"],
input[type="radio"].skinned-form-controls, input[type="checkbox"].skinned-form-controls { -moz-opacity: 0; -webkit-opacity: 0; opacity: 0; }
/* prevent the entire page from scrolling if there is overflow and checkbox or radio button are clicked */
.skinned-form-controls label, .form-item-instruct-confirm label { position: relative; }
/* fallback for IE6, IE7 and IE8 */
.skinned-form-controls input[type="radio"], .skinned-form-controls input[type="checkbox"],
input[type="radio"].skinned-form-controls, input[type="checkbox"].skinned-form-controls { position: static\9; }
.skinned-form-controls label::before, .form-item-instruct-confirm label::before { content: ""; display: inline-block; width: 30px; height: 25px; vertical-align: middle; background-repeat:  no-repeat; cursor:pointer;}
.skinned-form-controls input:checked + label::before, .form-item-instruct-confirm input:checked + label::before { background-position: 0 -25px; }
/* skin-specific sprite */
.skinned-form-controls label::before, .form-item-instruct-confirm label::before {margin:-5px 0 0 0; background-image: url('/sites/all/themes/basic/images/tick-sprite.jpg'); }

/*IE7*/
.ie7 #quotebuilder-stepone-slideone,
.ie7 #quotebuilder-stepone-slidetwo,
.ie7 #quotebuilder-stepone-slidethree {position:relative !important;overflow: hidden;visibility:hidden;}
.ie7 #quotebuilder-stepone-slideone.active,
.ie7 #quotebuilder-stepone-slidetwo.active,
.ie7 #quotebuilder-stepone-slidethree.active
{position:relative !important;overflow: hidden;visibility:visible;}
.ie7 #quotebuilder-stepone-blocks .quote-arrow-box {right: 0;}

/* Instruct form */
.instruct-page {background-color: rgba(255,255,255,0.95);float: left;margin-right: 20px;width: 634px;}
#quotebuilder-instruct-1-form .form-submit, #quotebuilder-instruct-3-form .form-submit {position: absolute;}
.instruct-page .privacy {margin-top: 80px;}
.instruct-page .subsection {padding: 5px 0 5px 0;margin-bottom: 20px;}

.instruct-page .form-type-radio.form-type-textfield label, .instruct-page .form-type-radio.form-type-textfield label {float: left; width: 170px;}
.instruct-page .form-type-radio label {float: left; width: 160px;}
.instruct-page label {width: 160px; text-align: right; font-weight: normal;} 
.instruct-page .form-item {margin: 10px 0;}
/*#quotebuilder-step-two-form .form-item-toe-quantity {margin-bottom: 30px;}*/
/*#quotebuilder-step-two-form .form-type-radios.form-item-toe-legal {margin-top: 30px;}
#quotebuilder-step-two-form .form-item-toe-legal label {margin-top:-12px !important;}*/
#quotebuilder-instruct-1-form, #quotebuilder-instruct-3-form, #coninstruct-results{ padding: 20px 30px 110px 30px;}
/*#quotebuilder-step-two-form legend {margin-bottom: 10px;}*/
.instruct-page .description {margin-left: 184px;}
.instruct-page .form-type-radios, .instruct-page .form-type-checkboxes {margin-top: 15px; margin-bottom: 20px;}
.instruct-page .form-type-radios label, .instruct-page .form-type-checkboxes label {position: absolute;padding: 5px 20px 5px 5px;}
.instruct-page .form-type-radio label, .instruct-page .form-type-checkbox label {text-align: left; margin-left:168px; width: 195px;font-weight: normal;}
.instruct-page .form-type-radio, .instruct-page .form-type-checkbox {margin: 0 0 15px 0;}
.instruct-page .form-type-textfield label {text-align: right; padding: 5px 20px 5px 5px; float: left;}
.instruct-page  .form-type-textfield input {
   width: 180px;
   height: 23px;
   background: #fff;
   border: 1px solid #ccc;
   -webkit-box-shadow: inset 0px 1px 2px 0px #aaa;
   box-shadow: inset 0px 1px 2px 0px #aaa;
   padding: 0 10px;}
.form-item-instruct-confirm {margin:15px !important;}
.form-item-instruct-purchase-anythingelse {padding: 0 20px;}
.form-item-instruct-purchase-anythingelse label {width: 200px;padding-bottom: 10px;}
.form-item-instruct-completiondate label {width: 200px;}
.form-item-instruct-completiondate-date label {width: 150px;}
.instruct-page .form-submit {cursor: pointer;}
.instruct-page .instruct-summary {padding: 10px 30px;margin-bottom: 20px;}
.instruct-page .instruct-summary table {margin: 10px 0;}
.instruct-page .instruct-summary tbody {border:none; padding:0;}
.instruct-page .instruct-summary tr {height: 30px;font-size: 12px;}
.instruct-page .instruct-summary .feevalue {width: 25%;text-align: right;}
.instruct-page .instruct-summary th {border-top: solid 1px #a9cd60; border-bottom: solid 1px #a9cd60;}
#coninstruct-results h2 {margin: 20px 0 10px 0;}
#quotebuilder-menu-bar-1, #quotebuilder-menu-bar-2 {margin-bottom: 5px;}
#quotebuilder-lp-form > div > div.quote-arrow-box {text-align: left;}












  /*###########################################################*/
  
  
  
  
  
  
  





#quotebuilder-askasolicitor-form{
    margin-left: 0;
}


@media all and (min-width: 960px) {
 
/*QUOTEBUILDER STEP ONE*/
#quotebuilder-stepone-blocks { margin-bottom:20px;overflow:hidden; }
#quotebuilder-stepone-blocks .bordered-inner { padding:20px 20px 0 20px;}
#quotebuilder-lp-form, #quotebuilder-lp-form--2, #quotebuilder-step-two-form {text-align: left; font-size: 13px;}
#quotebuilder-lp-form { width:500px;}
#quotebuilder-step-two-form {padding: 20px;}
.quotebuilder-stepone-block {margin-bottom: 0;background-color:rgba(255,255,255,0.95); float:left; margin-right:20px;width:634px; height: 250px;}
.blue-text,.fieldset-legend{color:#47535a;}
.quotebuilder-menu-item {line-height: 30px; float:left;/*width:206px; height:30px; */background:#47535a;color: #fff; text-align: center; text-transform: uppercase;}
.front .quotebuilder-menu-item {/*width: 208px;*/}
.front .quotebuilder-menu-item,.page-conveyancing-solicitor .quotebuilder-menu-item{cursor: pointer;}
/*.quotebuilder-menu-item:hover,.quotebuilder-menu-item.active:hover {background: #71a8c4;}*/
.quotebuilder-menu-item.active {background: #a9cd60; color:#000;}
.quotebuilder-menu-item .menu-arrow {display: none; position: absolute;
width: 0; 
height: 0; 
border-left: 103px solid transparent;
border-right: 103px solid transparent;
border-top: 15px solid #a9cd60;}
.quotebuilder-menu-item.active .menu-arrow {display: block;}
/*.quotebuilder-menu-item:hover .menu-arrow {
   border-top: 15px solid #71a8c4;
}*/
#quotebuilder-menu-one, #quotebuilder-menu-two {margin-bottom: 0;}
#quotebuilder-stepone-slideone, #quotebuilder-stepone-slidetwo, #quotebuilder-stepone-slidethree { display: none;}
#quotebuilder-stepone-slideone {}
#quotebuilder-stepone-slidetwo p, #quotebuilder-stepone-slidethree p {/*margin: 0; padding: 0; width: 330px;*/}
#quotebuilder-stepone-slideone.active, #quotebuilder-stepone-slidetwo.active, #quotebuilder-stepone-slidethree.active {display: block;}
#quotebuilder-lp-form span, #quotebuilder-step-two-form .form-type-radio.form-type-textfield label, #quotebuilder-lp-form--2 span, #quotebuilder-step-two-form--2 .form-type-radio.form-type-textfield label {float: left; width: 170px;}
#quotebuilder-step-two-form .form-type-radio label {float: left; width: 160px;}
#quotebuilder-step-two-form label {width: 160px; text-align: right; font-weight: normal;} 
#quotebuilder-lp-form span, #quotebuilder-lp-form--2 span {line-height: 28px;color: #000;}
#block-native-native-footer-contact #quotebuilder-lp-form span, #block-native-native-footer-contact #quotebuilder-lp-form--2 span{color:#fff;}
#quotebuilder-step-two-form .form-item {margin: 10px 0;}
#quotebuilder-step-two-form .form-item-toe-quantity {margin-bottom: 30px;}
#quotebuilder-lp-form .form-item-product, #quotebuilder-lp-form .form-item-completion,
#block-native-native-footer-contact .form-item-product, #block-native-native-footer-contact .form-item-completion,
#quotebuilder-step-two-form .form-item-purchase-tenure, #quotebuilder-step-two-form .form-item-sale-tenure,
#quotebuilder-step-two-form .form-item-toe-many-mortgages {
   width: 180px;
   height: 23px;
   overflow: hidden;
   background: url('/sites/all/themes/basic/images/form-select-arrow.jpg') no-repeat right #fff;
   border: 1px solid #ccc;
/*   -webkit-box-shadow: inset 0px 1px 0px 0px #999;
   box-shadow: inset 0px 1px 0px 0px #999;*/
   }
#block-native-native-footer-contact .form-item-product, #block-native-native-footer-contact .form-item-completion{margin: 20px 0;width: 178px;}
#block-native-native-footer-contact .quote-arrow-box {margin-left: 170px;}
#quotebuilder-lp-form .form-item-completion, #block-native-native-footer-contact .form-item-completion {
   background: url('/sites/all/themes/basic/images/select-calendar.png') no-repeat right #fff;
}
#quotebuilder-step-two-form .form-item-purchase-tenure,
#quotebuilder-step-two-form .form-item-sale-tenure,
#quotebuilder-step-two-form .form-item-toe-many-mortgages { margin-left: 186px;}
#quotebuilder-lp-form .form-item-product select,
#quotebuilder-lp-form .form-item-completion select,
#block-native-native-footer-contact .form-item-product select,
#block-native-native-footer-contact .form-item-completion select,
#quotebuilder-step-two-form .form-item-purchase-tenure select,
#quotebuilder-step-two-form .form-item-sale-tenure select,
#quotebuilder-step-two-form .form-item-toe-many-mortgages select{
   cursor: pointer;
   background: transparent;
   width: 180px;
   padding: 0 5px;
   font-size: 13px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 23px;
   -webkit-appearance: none;
   -moz-appearance: none;
   color: #666;
/*   -webkit-box-shadow: inset 0px 1px 0px 0px #999;
   box-shadow: inset 0px 1px 0px 0px #999;*/
}
#quotebuilder-step-two-form .form-type-radios.form-item-toe-legal {margin-top: 30px;}
.form-item-toe-quantity label,.form-item-toe-mortgage label {margin-top:-8px;}
#quotebuilder-step-two-form .form-item-toe-legal label {margin-top:-12px !important;}
#edit-sale .select-title, #edit-purchase .select-title {margin-top:5px;}
#quotebuilder-other-services {}
.quotebuilder-other-service {/*width:306px;*/}
#quotebuilder-callback { background-color: rgba(71,83,90,0.95); text-align: center; color: #fff;}
#quotebuilder-callback-inner {/*padding:0; */ margin-bottom: 25px;}
.quotebuilder-other-service .black-button, .quotebuilder-other-service .blue-button, #quotebuilder-needspeed .black-button {text-transform: uppercase;font-family: 'PTSans'; border: none; background: #000;font-size: 11px;padding: 8px 20px;color:#fff;}
#quotebuilder-callback.quotebuilder-other-service .blue-button {/*position: absolute; right: 123px; bottom: 35px;*/}
.quotebuilder-other-service .black-button:hover,.quotebuilder-other-service .blue-button:hover,#quotebuilder-callback.quotebuilder-other-service .blue-button:hover, #quotebuilder-needspeed .black-button:hover {color:#fff;text-decoration: none; background: #71a8c4;}
.quotebuilder-other-service .form-item-aas-question, .quotebuilder-other-service .form-item-aas-email input {width: 250px; margin: 0px 8px 5px 8px;}
.quotebuilder-other-service .form-item-aas-email {display: none;}
.quotebuilder-other-service .form-item-aas-email input {width: 250px; line-height: inherit; color: #666; margin-bottom: 15px;font-size: 13px; font-family: 'PTSans', Arial;}
.quotebuilder-other-service .form-item-aas-question {height: 60px;}
.quotebuilder-other-service .form-item-aas-question textarea {width: 250px; font-size: 13px;color: #666; padding: 5px; height: 50px; resize: none; font-family: 'PTSans', Arial; margin:20px;
}
/*button styling*/
.green-button {cursor: pointer;-webkit-appearance: none;height: 60px; width: 180px; font-family: 'TrajanPro'; border: none; background: #a9cd6d;color:#000;font-size: 20px;padding: 10px;}
.quote-link-button { text-align: center;  padding: 0 15px; line-height: 60px;}
.quotebuilder-steptwo-block p {padding: 20px 30px 0 30px;}
.quotebuilder-steptwo-block .green-button {padding: 0px 10px 10px 10px;}
.quote-arrow-box {}
#quote-box-outer {}
#quote-box-outer.instruct-button, .instruct-button .quote-arrow-box{position: inherit;}
.instruct-button .quote-link-button {width:220px;}
.instruct-button .quote-arrow {margin-left:250px;}
.instruct-button .quote-arrow-inner-green {margin-left:240px;}
.instruct-button .quote-arrow-inner-black {margin-left:242px;}
.instruct-button .quote-arrow-inner-box {margin-left:240px;}
#quotebuilder-stepone-slideone .quote-arrow-box, #quotebuilder-stepone-slidetwo .quote-arrow-box, #quotebuilder-stepone-slidethree .quote-arrow-box{bottom: 16px; right: -60px;}
.quotebuilder-steptwo-block .quote-arrow-box {/*margin-left: 184px;*/}
.quote-arrow-box:hover .green-button {text-decoration: none; background: #71a8c4;color: #fff;}
.quote-arrow {position: absolute;
margin-left: 180px;
width: 0; 
height: 0; 
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 20px solid #a9cd6d;}
.quote-arrow-inner-black {position: absolute;
margin-left: 172px;
width: 0; 
height: 0; 
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 20px solid #000;}
.quote-arrow-inner-green {position: absolute;
margin-left: 170px;
width: 0; 
height: 0; 
border-top: 30px solid transparent;
border-bottom: 30px solid transparent;
border-left: 20px solid #a9cd6d;}
.quote-arrow-inner-box {position: absolute;
margin-left: 170px;
width: 5px;
height: 60px;
background: #a9cd6d;}
.quote-arrow-box:hover .quote-arrow, .quote-arrow-box:hover .quote-arrow-inner-green {border-left: 20px solid #71a8c4;color: #fff;}
.quote-arrow-box:hover input {color: #fff;}
.quote-arrow-box:hover .quote-arrow-inner-box {background: #71a8c4;color: #fff;}
.quote-arrow-box:hover .quote-arrow-inner-black {border-left: 20px solid #fff;}
.quotebuilder-stepone-block .form-submit, .quotebuilder-steptwo-block .form-submit, #block-native-native-footer-contact .form-submit {float: left; cursor: pointer;}
/*.quotebuilder-steptwo-block .quote-arrow-bg {background: #a9cd6d url('/sites/all/themes/basic/images/con-quote-text.png') 15px 40px no-repeat;width: 180px;height: 60px;position: absolute;}*/
.quotebuilder-steptwo-block .quote-arrow-bg {background: #a9cd6d;width: 180px;height: 60px;position: absolute;}
.quotebuilder-steptwo-block .form-submit, .quotebuilder-steptwo-block .form-submit:hover {text-align: left;padding-left: 35px;position: absolute;z-index: 10000;background: none;width: 200px;}
/*.quotebuilder-steptwo-block .quote-arrow-box:hover .quote-arrow-bg {background: #71a8c4 url('/sites/all/themes/basic/images/con-quote-text-hover.png') 15px 40px no-repeat;}*/
.quotebuilder-steptwo-block .quote-arrow-box:hover .quote-arrow-bg {background: #71a8c4;}
.quotebuilder-stepone-block.last { width:286px; margin-right:0px;clear:right; }
.quotebuilder-stepone-block .bordered-inner { height:210px;position:relative; }

/*QUOTEBUILDER STEP TWO*/
.page-quotebuilder #content-header, .page-your-quote #content-header {}
#quotebuilder-steptwo-menu .quotebuilder-menu-item {cursor: auto;}
/*#quotebuilder-steptwo-menu .quotebuilder-menu-item:hover {background: #71a8c4;}
#quotebuilder-steptwo-menu .quotebuilder-menu-item.active:hover {background: #71a8c4;}*/
#quotebuilder-step-two-form { padding: 0px 30px 110px 30px;}
#quotebuilder-step-two-form legend {margin-bottom: 10px;}
.quotebuilder-steptwo-block h2 { font-size: 29px; padding: 60px 30px 0 30px; margin: 0; color: #000;}
.quotebuilder-stepthree-block .heading { font-size: 29px; padding: 20px 0 0 0; margin: 0; color: #000;}
.quotebuilder-steptwo-block, .quotebuilder-stepthree-block {/*background-color:rgba(255,255,255,0.95);*/ }
.quotebuilder-stepthree-block #mainquotecon, #quotebuilder-instruct-1-form {padding: 40px 30px 0px 30px;}
.quotebuilder-stepthree-block #quoteinstruct {padding: 0 20px;}
.quotebuilder-steptwo-block fieldset {margin: 20px 0 0 0; padding: 0; border: none;}
.quotebuilder-steptwo-block  .form-type-textfield input {
   width: 180px;
   height: 23px;
   background: #fff;
   border: 1px solid #ccc;
/*   -webkit-box-shadow: inset 0px 1px 2px 0px #aaa;
   box-shadow: inset 0px 1px 2px 0px #aaa;*/
   padding: 0 10px;}
.quotebuilder-steptwo-block .fieldset-legend, .page-your-quote h2 {color:#47535a;font-family:'TrajanPro',Times,serif;font-weight:400;font-size:17px;}
#quotebuilder-step-two-form .description {margin-left: 184px;}
#quotebuilder-step-two-form .form-type-radios {margin-top: 15px; margin-bottom: 20px;}
#quotebuilder-step-two-form .form-type-radios label {position: absolute;padding: 5px 20px 5px 5px;}
#quotebuilder-step-two-form .form-type-radio label {text-align: left; margin-left:168px; width: 195px;font-weight: normal;}
#quotebuilder-step-two-form .form-type-radio {margin: 0 0 15px 0;}
#quotebuilder-step-two-form .form-type-textfield label {text-align: right; padding: 5px 20px 5px 5px; float: left;}
/*#quotebuilder-step-two-form  label[for="edit-product"] {padding-top:13px;}*/
.quotebuilder-steptwo-block .privacy { margin: 10px 0px 10px 0px; font-size: 10px; }
.privacy p, #quotebuilder-info p {padding: 0;}
.quotebuilder-steptwo-block .small-submit {position: absolute; margin: 20px 0 0 170px; font-size: 12px;}
.quotebuilder-steptwo-block .small-submit p {font-family: 'TrajanPro'; color: #000;padding: 0;position: absolute;width: 150px;left: 30px;top: 15px;}
.quotebuilder-steptwo-block .select-title {position: absolute; text-align: right; width: 160px;padding: 0px 20px 5px 5px;}
.quotebuilder-steptwo-block .subsection {padding: 5px 0 5px 0;}
/*.quotebuilder-steptwo-block #edit-product {padding-top: 15px;margin-left: 10px;}*/
#edit-details {margin-bottom: 20px;}
#quotebuilder-steptwo-other-services {float: left;}
#quotebuilder-steptwo-other-services #quotebuilder-callback, #sidebar-second #quotebuilder-callback {background-color: rgba(71,83,90,0.95);text-align: center; color: #fff; margin-bottom: 20px;}
#quotebuilder-steptwo-other-services #quotebuilder-askasolicitor, #sidebar-second #quotebuilder-askasolicitor{background:rgba(213,217,221,0.95); text-align: center; color: #000;padding: 0;padding-bottom: 20px;}
#sidebar-second #quotebuilder-askasolicitor {margin-bottom:20px;padding: 0;}
#quotebuilder-steptwo-other-services #quotebuilder-askasolicitor .block-header {color: #000; padding: 10px 0;}
#quotebuilder-steptwo-other-services #quotebuilder-whychoose, #sidebar-second #quotebuilder-whychoose{color: #fff; margin: 0 0 20px 0; padding: 20px 0 20px 30px;}
#quotebuilder-steptwo-other-services #quotebuilder-whychoose h2 {font-size: 17px;}
.page-your-quote #quotebuilder-whychoose h2 {color:#fff;}
#speed-popup-button .more-info {font-size:10px;line-height:15px;font-style: italic;}
#quotebuilder-steptwo-other-services #quotebuilder-whychoose li, #sidebar-second #quotebuilder-whychoose li {list-style: none; padding: 5px 0;font-size: 15px;}
#quotebuilder-info {padding: 20px 30px 20px 30px; font-size: 10px; color: #47535a; text-align: justify;}
#quotebuilder-whychoose ul {margin:0; padding:0;}
#quotebuilder-whychoose li:before{ 
content:"\2714\0000a0\0000a0";
}
#quotebuilder-needspeed {padding: 0 30px 20px 30px; text-align: center; margin-bottom: 20px;}
#quotebuilder-needspeed #needspeed-inner {padding-top: 20px;background: url('/sites/all/themes/basic/images/hourglass.png') 90px no-repeat;}
#quotebuilder-needspeed .block-header {color: #000;}
#quotebuilder-needspeed .block-header span {font-size: 18px;}
#quotebuilder-needspeed .black-button{}
.popup {display:none;}
/*#list-popup-button {cursor: pointer; color: #a9cd6d;}*/
/*#list-popup-button:hover {color:#71a8c4;text-decoration:underline;}*/
/*#list-popup{margin-top:-170px;height: 380px;overflow-x: hidden;overflow-y: scroll;}*/
#cancel-popup-button, #priv-popup-button, #list-popup-button{cursor: pointer;text-transform: uppercase;
font-family: 'PTSans';
border: none;
background: #000;
font-size: 11px;
padding: 8px 20px;
color: #fff;
margin-top: 10px;
margin-right:5px;
text-align: center;}
#cancel-popup-button:hover, #priv-popup-button:hover, #list-popup-button:hover {background:#71a8c4;}
#cancel-popup{margin-top: -150px;}
#priv-popup{margin-top: -250px;height:500px;overflow-x: hidden;overflow-y: scroll;}
.form-item-phone-valid, .form-item-email-valid  {display: none;}
/**/
#list-popup th, #list-popup td, #node-163 th, #node-163 td {border: 1px solid #ddd; padding: 5px;}

.quotebuilder-stepthree-block th, .quotebuilder-stepthree-block tbody {border: none; padding: 0;}
.quotebuilder-stepthree-block th {border-top: solid 1px #a9cd60; border-bottom: solid 1px #a9cd60;}
.quotebuilder-stepthree-block tr {height:30px;font-size:12px;}
.quotebuilder-stepthree-block table {margin: 10px 0;}
.page-your-quote .light-green-bordered {padding: 10px 30px;margin-bottom: 20px;}
.quotebuilder-stepthree-block .feevalue {width: 25%; text-align: right;}
#cqs-accreditation {float: right; width: 120px; padding-left: 20px;padding-bottom:50px;}

#rbg-quote {padding: 20px; margin-bottom: 20px; text-align: center;}
#rbg-quote .block-header {padding: 0; font-size: 20px; color: #000;}
#rbg-quote form {text-align: left;  color: #000;}
#rbg-quote form span {padding-left: 3px;font-size: 14px;}
#rbg-quote .quote-arrow-box {margin: 10px 20px 20px 20px;}
#rbg-quote .form-submit {/*float: left;*/}
#rbg-quote .green-button {background: #fff; cursor: pointer;}
#rbg-quote .quote-arrow {border-left: 20px solid #fff;}
#rbg-quote .quote-arrow-inner-green {border-left: 20px solid #fff;}
#rbg-quote .quote-arrow-inner-box {background: #fff;}
#rbg-quote .quote-arrow-box:hover .green-button {background: #71a8c4; cursor: pointer; color: #fff;}
#rbg-quote .quote-arrow-box:hover .quote-arrow {border-left: 20px solid #71a8c4;}
#rbg-quote .quote-arrow-box:hover .quote-arrow-inner-green {border-left: 20px solid #71a8c4;}
#rbg-quote .quote-arrow-box:hover .quote-arrow-inner-box {background: #71a8c4;}
#rbg-quote .quote-arrow-box:hover .quote-arrow-inner-black {border-left: 20px solid #fff;}
#rbg-quote .form-radios {/*margin-top: 20px;margin-left: 15px;*/}
#rbg-quote .form-type-radio { margin: 0 0 15px 0; }
#rbg-quote .form-type-radio label { text-align: left; color: #000; width: 195px; font-weight: normal; }

#contact-quote-block {padding: 10px; text-align: center;}
#contact-quote-block .block-header {padding: 0; color: #000;}
#contact-quote-block form {text-align: left; margin: 20px; color: #000;margin-left: 5px;}
#contact-quote-block form span {padding-left: 3px;font-size: 14px;}
#contact-quote-block .quote-arrow-box {margin: 20px;}
#contact-quote-block .form-submit {float: left;}
#contact-quote-block .green-button {background: #fff; cursor: pointer;}
#contact-quote-block .quote-arrow {border-left: 20px solid #fff;}
#contact-quote-block .quote-arrow-inner-green {border-left: 20px solid #fff;}
#contact-quote-block .quote-arrow-inner-box {background: #fff;}
#contact-quote-block .quote-arrow-box:hover .green-button {background: #71a8c4; cursor: pointer; color: #fff;}
#contact-quote-block .quote-arrow-box:hover .quote-arrow {border-left: 20px solid #71a8c4;}
#contact-quote-block .quote-arrow-box:hover .quote-arrow-inner-green {border-left: 20px solid #71a8c4;}
#contact-quote-block .quote-arrow-box:hover .quote-arrow-inner-box {background: #71a8c4;}
#contact-quote-block .quote-arrow-box:hover .quote-arrow-inner-black {border-left: 20px solid #fff;}
#contact-quote-block .form-radios {margin-top: 20px;margin-left: 15px;}
#contact-quote-block .form-type-radio { margin: 0 0 15px 0; }
#contact-quote-block .form-type-radio label { text-align: left; color: #000; width: 195px; font-weight: normal; }

/* Custom radios - CS */
.skinned-form-controls input[type="radio"], .skinned-form-controls input[type="checkbox"],
input[type="radio"].skinned-form-controls, input[type="checkbox"].skinned-form-controls { -moz-opacity: 0; -webkit-opacity: 0; opacity: 0; }
/* prevent the entire page from scrolling if there is overflow and checkbox or radio button are clicked */
.skinned-form-controls label, .form-item-instruct-confirm label { position: relative; }
/* fallback for IE6, IE7 and IE8 */
.skinned-form-controls input[type="radio"], .skinned-form-controls input[type="checkbox"],
input[type="radio"].skinned-form-controls, input[type="checkbox"].skinned-form-controls { position: static\9; }
.skinned-form-controls label::before, .form-item-instruct-confirm label::before { content: ""; display: inline-block; width: 30px; height: 25px; vertical-align: middle; background-repeat:  no-repeat; cursor:pointer;}
.skinned-form-controls input:checked + label::before, .form-item-instruct-confirm input:checked + label::before { background-position: 0 -25px; }
/* skin-specific sprite */
.skinned-form-controls label::before, .form-item-instruct-confirm label::before {margin:-5px 0 0 0; background-image: url('/sites/all/themes/basic/images/tick-sprite.jpg'); }

/*IE7*/
.ie7 #quotebuilder-stepone-slideone,
.ie7 #quotebuilder-stepone-slidetwo,
.ie7 #quotebuilder-stepone-slidethree {position:relative !important;overflow: hidden;visibility:hidden;}
.ie7 #quotebuilder-stepone-slideone.active,
.ie7 #quotebuilder-stepone-slidetwo.active,
.ie7 #quotebuilder-stepone-slidethree.active
{position:relative !important;overflow: hidden;visibility:visible;}
.ie7 #quotebuilder-stepone-blocks .quote-arrow-box {right: 0;}

/* Instruct form */
.instruct-page {background-color: rgba(255,255,255,0.95);float: left;margin-right: 20px;width: 634px;}
#quotebuilder-instruct-1-form .form-submit, #quotebuilder-instruct-3-form .form-submit {position: absolute;}
.instruct-page .privacy {margin-top: 80px;}
.instruct-page .subsection {padding: 5px 0 5px 0;margin-bottom: 20px;}

.instruct-page .form-type-radio.form-type-textfield label, .instruct-page .form-type-radio.form-type-textfield label {float: left; width: 170px;}
.instruct-page .form-type-radio label {float: left; width: 160px;}
.instruct-page label {width: 160px; text-align: right; font-weight: normal;} 
.instruct-page .form-item {margin: 10px 0;}
/*#quotebuilder-step-two-form .form-item-toe-quantity {margin-bottom: 30px;}*/
/*#quotebuilder-step-two-form .form-type-radios.form-item-toe-legal {margin-top: 30px;}
#quotebuilder-step-two-form .form-item-toe-legal label {margin-top:-12px !important;}*/
#quotebuilder-instruct-1-form, #quotebuilder-instruct-3-form, #coninstruct-results{ padding: 20px 30px 110px 30px;}
/*#quotebuilder-step-two-form legend {margin-bottom: 10px;}*/
.instruct-page .description {margin-left: 184px;}
.instruct-page .form-type-radios, .instruct-page .form-type-checkboxes {margin-top: 15px; margin-bottom: 20px;}
.instruct-page .form-type-radios label, .instruct-page .form-type-checkboxes label {position: absolute;padding: 5px 20px 5px 5px;}
.instruct-page .form-type-radio label, .instruct-page .form-type-checkbox label {text-align: left; margin-left:168px; width: 195px;font-weight: normal;}
.instruct-page .form-type-radio, .instruct-page .form-type-checkbox {margin: 0 0 15px 0;}
.instruct-page .form-type-textfield label {text-align: right; padding: 5px 20px 5px 5px; float: left;}
.instruct-page  .form-type-textfield input {
   width: 180px;
   height: 23px;
   background: #fff;
   border: 1px solid #ccc;
   -webkit-box-shadow: inset 0px 1px 2px 0px #aaa;
   box-shadow: inset 0px 1px 2px 0px #aaa;
   padding: 0 10px;}
.form-item-instruct-confirm {margin:15px !important;}
.form-item-instruct-purchase-anythingelse {padding: 0 20px;}
.form-item-instruct-purchase-anythingelse label {width: 200px;padding-bottom: 10px;}
.form-item-instruct-completiondate label {width: 200px;}
.form-item-instruct-completiondate-date label {width: 150px;}
.instruct-page .form-submit {cursor: pointer;}
.instruct-page .instruct-summary {padding: 10px 30px;margin-bottom: 20px;}
.instruct-page .instruct-summary table {margin: 10px 0;}
.instruct-page .instruct-summary tbody {border:none; padding:0;}
.instruct-page .instruct-summary tr {height: 30px;font-size: 12px;}
.instruct-page .instruct-summary .feevalue {width: 25%;text-align: right;}
.instruct-page .instruct-summary th {border-top: solid 1px #a9cd60; border-bottom: solid 1px #a9cd60;}
#coninstruct-results h2 {margin: 20px 0 10px 0;}
.direct_callback_form{max-width: 500px;margin: auto;} 
#quotebuilder-menu-bar-1, #quotebuilder-menu-bar-2 {margin-right: 8px;}

}

.quotebuilder-callback .quotebuilder-callback-inner{
   margin-bottom: 0px;
}

#quotebuilder-callback-inner > p{
   padding-top: 13px;
   padding-left: 0px;
   padding-right: 0px;
   padding-bottom: 0px;
}

#quotebuilder-direct-callback-form input[type="text"], #quotebuilder-direct-callback-form input[type="password"], #quotebuilder-direct-callback-form input[type="date"], #quotebuilder-direct-callback-form input[type="datetime"], #quotebuilder-direct-callback-form input[type="datetime-local"], #quotebuilder-direct-callback-form input[type="month"], #quotebuilder-direct-callback-form input[type="week"], #quotebuilder-direct-callback-form input[type="email"], #quotebuilder-direct-callback-form input[type="number"], #quotebuilder-direct-callback-form input[type="search"], #quotebuilder-direct-callback-form input[type="tel"], input[type="time"], #quotebuilder-direct-callback-form input[type="url"], #quotebuilder-direct-callback-form input[type="color"], #quotebuilder-direct-callback-form textarea{
   -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
    background-color: #FFFFFF;
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 30px !important;
    margin: 0 0 1rem 0;
    padding: 0.5rem;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color 0.15s linear,background 0.15s linear;
    -moz-transition: border-color 0.15s linear,background 0.15s linear;
    -ms-transition: border-color 0.15s linear,background 0.15s linear;
    -o-transition: border-color 0.15s linear,background 0.15s linear;
    transition: border-color 0.15s linear,background 0.15s linear;
}


#quotebuilder-direct-callback-form .form-item{
    margin-bottom: 1em;
    /*
    margin-left: 30px;
    margin-right: 30px;
    */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 13px;


}

#quotebuilder-direct-callback-form--2 .form-item{
    margin-bottom: 1em;
    /*
    margin-left: 30px;
    margin-right: 30px;
    */
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 13px;


}
.quotebuilder_dcb_yourfullname{
    width: 40%;
    float: left;
}

.quotebuilder_dcb_yournumber{
       width: 59%;
    float: right;
}

#quotebuilder-direct-callback-form #edit-submit{
   font-size: 13px;
   margin-top: 0px;
}

.green-quote-button{
    background: #a9cd60 none repeat scroll 0 0 !important;
    color: #000 !important; 

    cursor: pointer  !important; 
    display:block !important;
    text-transform: uppercase  !important; 
    border: none  !important; 
    font-size: 14px  !important; 
    padding: 8px  !important; 
    margin: auto;
}

.green-quote-button i{
   margin-right:  5px;
}

  

.quote-fix{
    background-color: #e79a2b !important;
    cursor: pointer !important;
    -webkit-appearance: none !important;
    height: 60px !important;
    width: 180px !important;
    font-family: 'TrajanPro' !important;
    color: #000 !important;
    font-size: 20px !important;
    padding: 10px 11px 10px 10px !important;
    line-height: 40px !important;
    border: none !important;
}

#callback_2{
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

#callback_2 .inline-block{
  display: inline-block;
}



@media only screen and (max-width: 40em) {
   .hide-for-custom{
      display: none !important;
   }
}

@media only screen and (min-width: 40.0625em) {
   #quotebuilder-rbg-home-form .front-quote-button {  

      background-color: #e79a2b;
   } 

   .quote-fix{
    position: absolute !important;
    left: -18px !important;
    top: 135px !important;
    background-color:#e79a2b!important;

   }

   .mh317{
      min-height: 317px;
   }

 

}

@media only screen and (min-width: 64.0625em) {
   #quotebuilder-rbg-home-form .front-quote-button {
     
      position: absolute;
      left: 128px;
      top: 28px;
      background-color: #e79a2b;
   } 

   .quote-fix{
    position: absolute !important;
    left: -18px !important;
    top: 135px !important;

   }

}


