 /*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

#page {
 overflow-x: hidden;
}


#msform tbody{
  border-top:none;
}

#msform .quote-information{
background: rgba(169,205,109,0.1);
}

#msform .quote-information,
#msform .quote-disbursements,
#msform #rquip-embedded-quote-engine tr.quote-disb-total-tr {
  border: solid 1px #39464E !important;
}


#msform .hidden {display:none !important;}

#msform .completedStep {
  background-color:#a9cd60 !important;
  
}
#msform .completedStep span{
  color:#212121 !important;
}

#msform .previous {
    position: absolute;
    left: 5%;
    text-align: left;
    color: rgba(44, 62, 80, 0.52);
    display: inline-block;
    float: left;
    line-height: 50px;
    font-size: 16px;

}

#msform .sp_journey_head{
  display: none;
}

#msform .ms-list-button{
      cursor: pointer;
    text-transform: uppercase;
    font-family: 'PTSans';
    border: none;
    background: #000;
    font-size: 11px;
    padding: 8px 20px;
    color: #fff;
    margin-top: 10px;
    margin-right: 5px;
    text-align: center;
}

#msform .ms-privacy-button {
    margin: auto;
    float: right;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'PTSans';
    border: none;
    background: #000;
    font-size: 11px;
    padding: 8px 20px;
    color: #fff;
    margin-right: 5px;
    text-align: center;
}

#msform .ms-cancel-button {
    margin: auto;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'PTSans';
    border: none;
    background: #000;
    font-size: 11px;
    padding: 8px 20px;
    color: #fff;
    margin-right: 5px;
    text-align: center;
}

#msform input:-ms-input-placeholder {
  color:rgba(192, 192, 192, 1);
}

 #msform .mw .gdpr {
     color: #3e7f4e;
     font-size: 12px;
     float:right;
 }
 #msform .mw label {
     float:left;
 }

 #ms-grey-box {
  display: none;
  background: #333;
  opacity: 0.5;
  z-index: 3500;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.ms-popup {
  position: absolute;
  background: #fff;
  z-index: 11000;
  padding: 20px;
  display:none;
  margin: auto;
  text-align:left;
}


.ms-popup-close {
  float: right;
  font-size: 30px;
}

#msform .mb20{
  margin-bottom: 20px !important;
}

#msform .quote-fee-total-tr {
    background-color: #dddddd;
    border: 1px solid #39464E !important;
}

#msform .quote-max-width-auto {
    max-width: 580px;
    margin: auto;
}

#msform #quote-results > div > table.quote-information{
  display: none;
} 

#msform .previous:before{
    font-size: 50px;
    font-family: FontAwesome;
    content: "\f104";
    top: 10px;
    right: 5px;
    position: relative;
    text-decoration: none !important;
    display: inline-block;
}

#msform .previous:hover { text-decoration:underline; cursor:pointer;}

#msform .not_sure {width: 50%;
    text-align: right;
    color: #2C3E50;
    display: inline-block;
    float: right;}
#msform .not_sure:hover { text-decoration:underline; cursor:pointer;}

#msform .break{
  margin-top:0px;
  
}

#msform label.error {
    color: #FA3C3C;
    font-weight: normal;
    display: block;
    margin: auto;
    max-width: 100%;
    padding-bottom: 10px;

}

 #msform .progress_steps_purchase{
  display: table;
  width: 100%;
  margin:0px;
}

#msform .progress_steps_purchase li:first-child span{

}

#msform .progress_steps_purchase li:first-child {

}


#msform .progress_steps_purchase li:not(:first-child){
  background-color:#aeaeae;
}

#msform .progress_steps_purchase li:not(:first-child) span{
  color:#e6e6e6;
}

#msform .progress_steps_purchase li:first-child span{
  color:white;
}

#msform .progress_steps_purchase li:first-child span{
  color:white;
}

#msform .progress_steps_purchase li{
  display: table-cell;
  width:20%;

}

#msform .progress_steps_purchase li span{
    color: #2C3E50;
  line-height:44px;
}

#msform .progress__percentage:after {
    top: -3px;
    border-width: 25px 0 25px 10px;
}

#msform .progress_container{
    width:100%;
  }

#msform .progress__percentage:after {
    content: '';
    position: absolute;
    right: -9px;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent transparent #39464E;
    -moz-transform: scale(0.9999);
}

#msform .progress__percentage {
    display:none;
    position: relative;
    text-align: right;
    font-family: 'RobotoMedium', Arial, sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 0 12px 0 0;
    background: #39464E;
    -moz-transition: width 1.5s 0s;
    -o-transition: width 1.5s 0s;
    -webkit-transition: width 1.5s;
    -webkit-transition-delay: 0s;
    transition: width 1.5s 0s;

    width:0%;
    min-width: 44px;
    height: 44px;
    line-height: 44px;
    
}

#msform .progress-2 {
    min-height: 44px;
}
#msform .progress-2 {
    position: relative;
    margin: 20px 0 0 0;
    overflow: hidden;
    background: #a9cd60;
    color:white;
    background-color: #a9cd60;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
    /*border-radius: 4px;*/
    /*-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.5);*/
}



#msform .choice_container_container{
  text-align:center;
}

#msform .ml{
   margin-left:25px;
}

#msform .mw{
  max-width:400px;
  display:block;
  margin:auto;
  text-align:left;
}
#msform .choice_container{
    position:relative;
       width: 80%;
    width: 100px;
    height: 100px;
    display:inline-block;
}

#msform .choice_container input{
  visibility: hidden;
}

#msform .choice .two-line-fix{
  margin-top: 14px;
  display: block;
}

#msform .choice span {
  margin-top:25px;
  display: block;
}

#msform .choice:before{
  content: '';
    display: inline-block;
    /*height: 100%;*/
    vertical-align: middle;
}

#msform #quote_title_value{
  font-size: 20px;
}

#msform .progress_title{
    color:#212121;
    line-height: 44px;
    margin: 0px;
    font-size: 18px;
}

#msform .choice:hover{
  color:white;
  background-color:#2C3E50;
  text-decoration: none;
}

#msform .choice{
  font-size: 16px;
    line-height: 1;
  position: absolute;
    top: 0;
    left: 0;
    color:#2C3E50;
  border:1px solid #2C3E50;
  width:100px;
  height:100px;
  border-radius:50%;
  
  
}
/*form styles*/
#msform {
  width: 100%;
  margin: 0px 0px 50px 0px;
  text-align: center;
  position: relative;
  height: 276px;
}
#msform fieldset:before{
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  /*box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);*/
}
#msform fieldset {
  margin-top:0px;
  background: white;
  border: 0 none;
  /*border-radius: 3px;*/
  border-bottom-left-radius:4px;
  border-bottom-right-radius:4px;

  padding: 20px 30px;
  
  box-sizing: border-box;
  width: 100%;
  
  /*stacking fieldsets above each other*/
  position: absolute;
}

#msform .sp_container{
  padding: 20px;
}

#msform .sp_journey_head{
    margin: 0px;
    padding: 0px;
    height: 40px;
    line-height: 40px;
    font-family: "TrajanPro",Times,serif;
    text-align: left;
    padding-left: 20px;
    background: linear-gradient(to right, gray ,gray, rgba(255, 255, 255, 1));
    color:white;
}

#msform .sale_purchase-container fieldset {
  padding: 0px;
}

#msform .sale_purchase-container .details {
  padding-top: 20px;
}

#msform #rquip-embedded-quote-engine{
  margin: auto;
  width: 580px;
}

#msform #rquip_async_container_extras{
  max-width: 580px;
    margin: auto;
    display:none;
}


#msform .phone_times  {
    margin-top: 5px;
    margin-bottom: 10px;
    line-height: 12px;

}

#msform .phone_times .firstcol {
    width: 50%;
    display: inline-block;
    text-align: left;
    line-height: 12px;
    font-size: 12px;
    text-align: left;
}

#msform .phone_times .secondcol {
    width: 40%;
    display: inline-block;
    line-height: 12px;
    font-size: 12px;
    text-align: left;
}

#msform #rquip_async_container_extras h3{


    color: #47535a;
    font-family: 'TrajanPro',Times,serif;
    font-weight: 400;
    font-size: 17px;
    text-align: left;

}

#msform .dq-green-instruct-button{
    padding: 20px;
    text-align: center;
    font-size: 16px;
    background-color: #a9cd6d;
    color: #333;
}


/*Hide all except first fieldset*/
/*#msform fieldset:not(:first-of-type) {
  display: none;
}*/

/*#msform .fieldset-container fieldset:not(:first-of-type){
  display: none;
}*/
#msform .fieldset-container.transfer-container fieldset,
#msform .fieldset-container.remortgage-container fieldset,
#msform .fieldset-container.sale_purchase-container fieldset,
#msform .fieldset-container.purchase-container fieldset,
#msform .fieldset-container.sale-container fieldset,
#msform .fieldset-container.personal-container fieldset,
#msform .fieldset-container.result-container fieldset,
#msform .fieldset-container.rquip-container fieldset  {
  display: none;
}

/*#msform .fieldset-container fieldset :not(:first-child) {
  display: none;
}*/


/*inputs*/
#msform input, #msform textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#msform .action-button {
    max-width: 200px;
    background: #39464e;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 13px;
    margin: 10px;
    font-size: 16px;
    text-align:center;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#msform .action-button:hover, #msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #2c3e50;
}

#msform .skip-button {
    max-width: 200px;
    background: #E5E5E5;
    color: #39464e;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
    padding: 13px;
    margin: 10px;
    font-size: 16px;
    text-align:center;
}

#msform .skip-button:hover, #msform .skip-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #2c3e50;
}
#msform .quote-fees {
    color:#39464E;
  font-size:14px;
  text-align:left;
      width: 100%;
    border: solid 1px;
}

#msform .quote-fees td:nth-child(2){
  border-left:1px solid;
  padding-left:20px;
}

#msform .not-sure{
  color:#39464E;
  font-size:14px;
  
}

/*headings*/
#msform .fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;

  
}
#msform .fs-subtitle {
  font-weight: normal;
  font-size: 22px;
  color: #2C3E50;
  margin-bottom: 20px;
}

#msform .fs-subtext{
  color: #39464e;
  font-size: 14px;
}

#msform .fs-left{
  text-align: left;
}

#msform .msform-quotes {display: none;}​


/*progressbar*/
#msform #progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}
#msform #progressbar li {
  list-style-type: none;
  color: #1b1919;
  text-transform: uppercase;
  font-size: 11px;
  width: 16.00%;
  float: left;
  position: relative;
}

#msform #progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 20px;
  line-height: 20px;
  display: block;
  font-size: 14px;
  color: #333;
  background: #ccc;
  border-radius: 3px;
  margin: 0 auto 5px auto;
}
/*progressbar connectors*/
#msform #progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ccc;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1; /*put it behind the numbers*/
}
#msform #progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none; 
}
/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#msform #progressbar li.active:before,  #progressbar li.active:after{
  background: #27AE60;
  color: white;
}

#msform .tip_text {
  font-size: 14px;
  color: #666;
  display:inline-block;
}

 #msform .ml200{
  margin-left:200px;
}


 .fs-never-misuse-details{
     margin: 0 auto 20px auto;
     padding: 0 30px 0 50px;
     background-color: #ffff5366;
     height: 50px;
     line-height: 50px;
     max-width: 400px;
     display: block;
 }
 .fs-padlock{
     width: 30px;
     position: absolute;
     left: 30px;
     top: 10px;
 }

 .fs-action-button{
     padding: 13px !important;
     max-width: 230px !important;
     background: #3e7f4e !important;
     font-size: 20px !important;
 }

 .fs-links{
     padding: 20px;
     max-width:400px;
     margin:auto;
 }

 .fs-links .fs-link-1{
     float: left;
     padding-left: 20px;
     text-decoration: underline;
     font-size:14px;
 }
 .fs-links .fs-link-2{
     float: right;
     padding-right: 20px;
     text-decoration: underline;
     font-size:14px;
 }

 .fs-padlock-container{
     position: relative;
     max-width: 400px;
     margin: auto;
 }


 @media screen and (max-width: 768px) {
     .fs-never-misuse-details{
         line-height: 20px;
         padding-top:5px;
     }

     .fs-padlock{
         width: 30px;
         position: absolute;
         left: 10px;
         top: 10px;
     }
 }


@media only screen and (min-width:0px) and (max-width: 300px)  {
   #msform {height: 650px;}
}

@media only screen and (min-width:301px) and (max-width : 400px) {
   #msform {height: 600px;}
}


@media only screen and (min-width:401px) and (max-width : 500px) {
   #msform {height: 505px;}
}


@media only screen  and (min-width:501px) and (max-width : 600px) {
   #msform {height: 480px;}
}


@media only screen and (min-width:601px) and (max-width : 641px) {

 #msform {height: 480px;}
}

@media only screen and (max-width : 641px) {

  #msform .fs-subtitle {
  font-weight: normal;
  font-size: 16px;
  color: #2C3E50;
  margin-bottom: 20px;
  }

  #msform .sp_journey_head {
      margin: 0px;
      padding: 0px;
      height: 40px;
      line-height: 40px;
      font-family: "TrajanPro",Times,serif;
      text-align: left;
      padding-left: 20px;
      background: linear-gradient(to right, gray ,gray, rgba(255, 255, 255, 0));
      color: white;
      font-size: 12px;
  }
  #msform #rquip-embedded-quote-engine{
    width:100%;
  }

 #msform .ml200{
  margin-left:0px;
 }

 #msform .previous { display: none; }

 #msform .choice {
      font-size: 16px;
    line-height: 1;
    position: absolute;
    top: 0;
    left: 0;
    color: #2C3E50;
    border: 1px solid #2C3E50;
    width: 100%;
    height: 50px;
    border-radius: 0%;
 }

 #msform .choice span {
  margin-top:0px !important;
 }

 #msform .choice_container{
  width: 100%;
 }

 #msform .choice_container{
  height:60px;
 }

 #msform .ml{
  margin-left:0px;
 }
 #msform .two-line-fix{
  margin-top:0px !important;
 }
 #msform .progress_title{
  font-size: 12px;
 }
}
