#rquip-embedded-quote-engine {
/*    text-align: center;
    width:680px;*/
    /*padding: 0px 30px 110px 30px;*/
}

.quotebuilder-steptwo-block h2, .quotebuilder-steptwo-block p {
    padding-left: 0;
}

#rquip-embedded-quote-engine h2 {
    color: #47535a;
    font-family: 'TrajanPro',Times,serif;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
    margin: 20px 0 10px 0;
    padding: 0;
}

#rquip-embedded-quote-engine h2 {
    color: #47535a;
    font-family: 'TrajanPro',Times,serif;
    font-weight: 400;
    font-size: 17px;
}

#quotebuilder-stepthree-block h1 {
    font-size: 29px;
    padding: 60px 30px 0 30px;
    margin: 0;
    color: #000;
}

#rquip-embedded-quote-engine .form-item {
    margin: 0;
}

#rquip-embedded-quote-engine .form-radios {
    margin: 0;
}

#rquip-embedded-quote-engine .form-radios .form-item {
    display: block;
    clear: both;
    width: 220px;
    margin-bottom: 10px;
}

#rquip-embedded-quote-engine .form-item label {
    font-size: 13px;
    font-weight: normal;
    /*padding: 5px 20px 5px 5px;*/
    padding: 0 20px 10px 0;
}

#rquip-embedded-quote-engine .form-radios .form-item input {
    float: left;
}

#rquip-embedded-quote-engine .form-radios .form-item label {
    margin: 0;
    width: 180px;
    line-height: 13px;
    margin-top: 3px;
    text-align: left;
    padding-left: 0;
}

#rquip-embedded-quote-engine .form-text {
    margin-bottom: 10px;
}

#rquip-embedded-quote-engine .form-item-service-id {
    display:block;
}

#rquip-embedded-quote-engine .form-disabled {
    display:none;
}

#rquip-embedded-quote-engine .instructing {
    padding:30px;
}

#rquip-embedded-quote-engine #rquip-quote-form #edit-submit, #rquip-embedded-quote-engine #rquip-instruct-form #edit-submit {
}

#rquip-quote-form .quote-arrow-box {
    /*margin-left: 204px;*/
}

#rquip-quote-form #edit-submit {
    -webkit-appearance: none;
    height: 70px;
    font-family: 'TrajanPro';
    border: none;
    color: #000;
    font-size: 20px;
    padding: 0px 10px 10px 10px;
    float: left;
    cursor: pointer;
    text-align: left;
    padding-left: 35px;
    position: absolute;
    z-index: 10000;
    background: none;
    width: 200px;
}

#rquip-quote-form .quote-arrow-box:hover, #rquip-quote-form .quote-arrow-box:hover #edit-submit {
    color: #fff;
}

#rquip-quote-form .privacy {
    /*margin-left: 204px;*/
    text-align:center;
}

/*#rquip-quote-form #edit-submit:hover {
    text-decoration:none;
    background:#71a8c4;
}*/

#rquip-embedded-quote-engine #rquip-quote-form {
/*    margin:0 auto;*/
/*    width:490px;*/
/*    width: 620px;*/
/*    padding:0 0 80px;*/
}

#rquip-embedded-quote-engine #rquip-instruct-form {
    margin-bottom: 20px;
}

h1.title {
    display:none;
}

#rquip-embedded-quote-engine .page-title p {
    font-size:15px;
    padding:0;
    margin:0;
}

#rquip-embedded-quote-engine .form-layout-group {
/*    margin:0 auto;
    width:490px;*/
    /*width: 620px;*/
}

#rquip-embedded-quote-engine .form-layout-group-inner {
/*    text-align: left;
    padding:30px;
    background: #F1F8FD;
    border-radius:0;*/
    text-align: left;
    /*background: #f1f8fd;*/
    padding: 20px 20px 10px 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background: rgba(169,205,109,0.1);
}

/*#rquip-embedded-quote-engine #rquip-quote-form .form-type-textfield input,*/
#rquip-embedded-quote-engine #rquip-instruct-form .form-type-textfield input,
#rquip-embedded-quote-engine #rquip-instruct-form .form-type-date-popup input {
/*    background: #fff;
    border:1px solid #999;
    border-radius:0;
    width:330px;
    margin:2px 0;*/
}

#rquip-embedded-quote-engine #quote-summary,
#rquip-embedded-quote-engine #instruct-summary,
#rquip-embedded-quote-engine #instructing-quote #quote-summary,
#rquip-embedded-quote-engine #instructing-quote #quote-summary {
    background: none;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 0;
    text-align: left;
}

#rquip-embedded-quote-engine .total-quote-fee {
    font-size:50px;
    font-weight:bold;
}

#rquip-embedded-quote-engine .total-quote-disbursements {
    font-size:25px;
    font-weight:bold;
}

#rquip-embedded-quote-engine #instructing-quote #quote-results table,
#rquip-embedded-quote-engine #instructing-quote #quote-results table {
/*    background: none repeat scroll 0 0 #E3F1FA;*/
/*    margin: 0 auto;*/
}

#rquip-embedded-quote-engine #instructing-quote #quote-results table td,
#rquip-embedded-quote-engine #instructing-quote #quote-results table td {
/*    border-bottom: 1px solid #F1F8FD;*/
    width: 200px;
}

#rquip-embedded-quote-engine #quote-results table,
#rquip-embedded-quote-engine #instruct-results table {
/*    background: none repeat scroll 0 0 #F1F8FD;*/
/*    margin: 0 auto;*/
}

#rquip-embedded-quote-engine #instruct-results h1 {
    text-align: left !important;   
}

#rquip-embedded-quote-engine #instruct-results table {
}

#rquip-embedded-quote-engine #quote-results table td,
#rquip-embedded-quote-engine #instruct-results table td {
    padding: 10px;
    background: rgba(169,205,109,0.1);
    border: none !important;
}

#rquip-embedded-quote-engine #instruct-results tbody {
    border: none;
}

#rquip-embedded-quote-engine #quote-results table td:first-child {
    width: 480px;
    text-align:left;
}

#rquip-embedded-quote-engine #quote-results table td:last-child {
    width: 100px;
    text-align:left;
}

#rquip-embedded-quote-engine #instruct-results table td:first-child {
    width: 200px;
    text-align:left;
}

#rquip-embedded-quote-engine #instruct-results table td:last-child {
    width: 200px;
    text-align:left;
}

#rquip-embedded-quote-engine #quote-summary p {
    margin:0;
    padding:0;
}

#rquip-embedded-quote-engine #instructing-quote #quote-summary p,
#rquip-embedded-quote-engine #instructing-quote #quote-summary p b {
    color: #0087C8;
}

#rquip-embedded-quote-engine #instructing-quote {
/*    background: #F1F8FD;*/
    border: none;
}

#rquip-embedded-quote-engine #edit-ext-anything-else {
    width:400px;
}

#rquip-embedded-quote-engine .quote-down-arrow {
    margin-top: -30px;
    margin-left: 85px;
    position: absolute;
    left: 0;
}

#rquip-embedded-quote-engine .quote-input-title, #rquip-embedded-quote-engine .quote-input {
    display: none;
}

#rquip-instruct-form #form-layout-services {
    display: none;
}

#rquip-instruct-form #form-layout-ext .form-layout-group-inner {
    padding-bottom: 20px;
}

#rquip-embedded-quote-engine .quote-information tbody {
    border: none;
    background: none;
}

#rquip-embedded-quote-engine .quote-information td {
    background: #fff;
    border: none !important;
    width: 120px !important;
}

#rquip-embedded-quote-engine .quote-fees td, #rquip-embedded-quote-engine .quote-disbursements td {
    background: rgba(169,205,109,0.1);
    border: none !important;
}

#rquip-embedded-quote-engine .quote-fees tr, #rquip-embedded-quote-engine .quote-disbursements tr,
#rquip-embedded-quote-engine .quote-fees tbody, #rquip-embedded-quote-engine .quote-disbursements tbody{
    border: none !important;
}

#rquip-embedded-quote-engine tr.quote-disb-total-tr, #rquip-embedded-quote-engine tr.quote-fee-total-tr {
    font-weight: bold;
    border-top: solid 1px #a9cd60 !important;
    border-bottom: solid 1px #a9cd60 !important;
}

.quote-included {
    padding: 10px 30px;
    margin-bottom: 20px;
}

#quotebuilder-info {
    clear: both;
}

input[type="checkbox"] {margin-top: 5px;}

/*.form-radios span {cursor: pointer;}
.form-radios label{position:relative;}
.form-radios input[type=checkbox]{-moz-opacity:0;-webkit-opacity:0;opacity:0;position:static\9;}
.form-radios input[type=radio]{-moz-opacity:0;-webkit-opacity:0;opacity:0;position:static\9;}
.form-radios input[type=checkbox] + span::before{background-image:url(/sites/all/modules/custom/fitzalan_quip/images/radio-buttons.png);background-repeat:no-repeat;content:"";display:inline-block;height:15px;vertical-align:bottom;width:15px;cursor:pointer !important;}
.form-radios input[type=checkbox]:hover + span::before,.form-radios input[type=checkbox]:active + span::before{background-position:0 -30px;}
.form-radios input[type=checkbox]:checked + span::before{background-position:0 -15px;}
.form-radios input[type=radio] + span::before{background-image:url(/sites/all/modules/custom/fitzalan_quip/images/radio-buttons.png);background-repeat:no-repeat;content:"";display:inline-block;height:15px;vertical-align:bottom;width:15px;cursor:pointer !important;}
.form-radios input[type=radio]:hover + span::before,.form-radios input[type=checkbox]:active + span::before{background-position:0 -30px;}
.form-radios input[type=radio]:checked + span::before{background-position:0 -15px;}*/

#ui-datepicker-div {border: 1px solid #ccc !important;}
.ui-datepicker .ui-datepicker-header {background: #a9cd6d !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {color:#71a8c4 !important;border: #fff solid 1px !important;}
td .ui-state-default:hover, .ui-datepicker-today {background: #71a8c4 !important; color: #fff !important; border: #fff solid 1px !important;}
.ui-datepicker-header .ui-corner-all:hover, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {color: #fff !important; background: #71a8c4 !important;border: #fff solid 1px !important;}

#wrapper-person-referrer {
    display: none;
}
















  /*###########################################################*/
  
  
  
  
  
  
  







@media all and (min-width: 960px) {
    
    
#rquip-embedded-quote-engine {
/*    text-align: center;
    width:680px;*/
    /*padding: 0px 30px 110px 30px;*/
}

.quotebuilder-steptwo-block h2, .quotebuilder-steptwo-block p {
    padding-left: 0;
}

#rquip-embedded-quote-engine h2 {
    color: #47535a;
    font-family: 'TrajanPro',Times,serif;
    font-weight: 400;
    font-size: 17px;
    text-align: left;
    margin: 20px 0 10px 0;
    padding: 0;
}

#rquip-embedded-quote-engine h2 {
    color: #47535a;
    font-family: 'TrajanPro',Times,serif;
    font-weight: 400;
    font-size: 17px;
}

#quotebuilder-stepthree-block h1 {
    font-size: 29px;
    padding: 60px 30px 0 30px;
    margin: 0;
    color: #000;
}

#rquip-embedded-quote-engine .form-item {
    float: left;
    margin: 0;
    width: 450px;
}

#rquip-embedded-quote-engine .form-radios {
    float: left;
    margin: 0;
}

#rquip-embedded-quote-engine .form-radios .form-item {
    display: block;
    clear: both;
    width: 220px;
    margin-bottom: 10px;
}

#rquip-embedded-quote-engine .form-item label {
    float: left;
    width: 160px;
    font-size: 13px;
    font-weight: normal;
    /*padding: 5px 20px 5px 5px;*/
    padding: 0 20px 0 0;
    text-align: right;
}

#rquip-embedded-quote-engine .form-radios .form-item input {
    float: left;
}

#rquip-embedded-quote-engine .form-radios .form-item label {
    margin: 0;
    width: 180px;
    line-height: 13px;
    margin-top: 3px;
    text-align: left;
    padding-left: 0;
}

#rquip-embedded-quote-engine .form-text {
    width: 180px;
    float: left;
    margin-bottom: 10px;
}

#rquip-embedded-quote-engine .form-item-service-id {
    display:block;
}

#rquip-embedded-quote-engine .form-disabled {
    display:none;
}

#rquip-embedded-quote-engine .instructing {
    padding:30px;
}

#rquip-embedded-quote-engine #rquip-quote-form #edit-submit, #rquip-embedded-quote-engine #rquip-instruct-form #edit-submit {
   
}

#rquip-quote-form .quote-arrow-box {
    /*margin-left: 204px;*/
    text-align:center;
}

#rquip-quote-form #edit-submit {
    -webkit-appearance: none;
    height: 70px;
    font-family: 'TrajanPro';
    border: none;
    color: #000;
    font-size: 20px;
    padding: 0px 10px 10px 10px;
    float: left;
    cursor: pointer;
    text-align: left;
    padding-left: 35px;
    position: absolute;
    z-index: 10000;
    background: none;
    width: 200px;
}

#rquip-quote-form .quote-arrow-box:hover, #rquip-quote-form .quote-arrow-box:hover #edit-submit {
    color: #fff;
}

#rquip-quote-form .privacy {
    /*margin-left: 204px;*/
}

/*#rquip-quote-form #edit-submit:hover {
    text-decoration:none;
    background:#71a8c4;
}*/

#rquip-embedded-quote-engine #rquip-quote-form {
/*    margin:0 auto;*/
/*    width:490px;*/
/*    width: 620px;
    padding:0 0 80px;*/
}

#rquip-embedded-quote-engine #rquip-instruct-form {
    margin-bottom: 20px;
}

h1.title {
    display:none;
}

#rquip-embedded-quote-engine .page-title p {
    font-size:15px;
    padding:0;
    margin:0;
}

#rquip-embedded-quote-engine .form-layout-group {
/*    margin:0 auto;
    width:490px;*/
    /*width: 620px;*/
}

#rquip-embedded-quote-engine .form-layout-group-inner {
/*    text-align: left;
    padding:30px;
    background: #F1F8FD;
    border-radius:0;*/
    text-align: left;
    /*background: #f1f8fd;*/
    padding: 20px 20px 10px 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background: rgba(169,205,109,0.1);
}

/*#rquip-embedded-quote-engine #rquip-quote-form .form-type-textfield input,*/
#rquip-embedded-quote-engine #rquip-instruct-form .form-type-textfield input,
#rquip-embedded-quote-engine #rquip-instruct-form .form-type-date-popup input {
/*    background: #fff;
    border:1px solid #999;
    border-radius:0;
    width:330px;
    margin:2px 0;*/
}

#rquip-embedded-quote-engine #quote-summary,
#rquip-embedded-quote-engine #instruct-summary,
#rquip-embedded-quote-engine #instructing-quote #quote-summary,
#rquip-embedded-quote-engine #instructing-quote #quote-summary {
    background: none;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 0;
    text-align: left;
}

#rquip-embedded-quote-engine .total-quote-fee {
    font-size:50px;
    font-weight:bold;
}

#rquip-embedded-quote-engine .total-quote-disbursements {
    font-size:25px;
    font-weight:bold;
}

#rquip-embedded-quote-engine #instructing-quote #quote-results table,
#rquip-embedded-quote-engine #instructing-quote #quote-results table {
/*    background: none repeat scroll 0 0 #E3F1FA;*/
/*    margin: 0 auto;*/
}

#rquip-embedded-quote-engine #instructing-quote #quote-results table td,
#rquip-embedded-quote-engine #instructing-quote #quote-results table td {
/*    border-bottom: 1px solid #F1F8FD;*/
    width: 200px;
}

#rquip-embedded-quote-engine #quote-results table,
#rquip-embedded-quote-engine #instruct-results table {
/*    background: none repeat scroll 0 0 #F1F8FD;*/
/*    margin: 0 auto;*/
    width: 580px;
}

#rquip-embedded-quote-engine #instruct-results h1 {
    text-align: left !important;   
}

#rquip-embedded-quote-engine #instruct-results table {
    width: 620px;
}

#rquip-embedded-quote-engine #quote-results table td,
#rquip-embedded-quote-engine #instruct-results table td {
    padding: 10px;
    background: rgba(169,205,109,0.1);
    border: none !important;
}

#rquip-embedded-quote-engine #instruct-results tbody {
    border: none;
}

#rquip-embedded-quote-engine #quote-results table td:first-child {
    width: 480px;
    text-align:left;
}

#rquip-embedded-quote-engine #quote-results table td:last-child {
    width: 100px;
    text-align:left;
}

#rquip-embedded-quote-engine #instruct-results table td:first-child {
    width: 200px;
    text-align:left;
}

#rquip-embedded-quote-engine #instruct-results table td:last-child {
    width: 200px;
    text-align:left;
}

#rquip-embedded-quote-engine #quote-summary p {
    margin:0;
    padding:0;
}

#rquip-embedded-quote-engine #instructing-quote #quote-summary p,
#rquip-embedded-quote-engine #instructing-quote #quote-summary p b {
    color: #0087C8;
}

#rquip-embedded-quote-engine #instructing-quote {
/*    background: #F1F8FD;*/
    border: none;
}

#rquip-embedded-quote-engine #edit-ext-anything-else {
    width:400px;
}

#rquip-embedded-quote-engine .quote-down-arrow {
    margin-top: -30px;
    margin-left: 85px;
    position: absolute;
    left: 0;
}

#rquip-embedded-quote-engine .quote-input-title, #rquip-embedded-quote-engine .quote-input {
    display: none;
}

#rquip-instruct-form #form-layout-services {
    display: none;
}

#rquip-instruct-form #form-layout-ext .form-layout-group-inner {
    padding-bottom: 20px;
}

#rquip-embedded-quote-engine .quote-information tbody {
    border: none;
    background: none;
}

#rquip-embedded-quote-engine .quote-information td {
    background: #fff;
    border: none !important;
    width: 120px !important;
}

#rquip-embedded-quote-engine .quote-fees td, #rquip-embedded-quote-engine .quote-disbursements td {
    background: rgba(169,205,109,0.1);
    border: none !important;
}

#rquip-embedded-quote-engine .quote-fees tr, #rquip-embedded-quote-engine .quote-disbursements tr,
#rquip-embedded-quote-engine .quote-fees tbody, #rquip-embedded-quote-engine .quote-disbursements tbody{
    border: none !important;
}

#rquip-embedded-quote-engine tr.quote-disb-total-tr, #rquip-embedded-quote-engine tr.quote-fee-total-tr {
    font-weight: bold;
    border-top: solid 1px #a9cd60 !important;
    border-bottom: solid 1px #a9cd60 !important;
}

.quote-included {
    padding: 10px 30px;
    margin-bottom: 20px;
}

#quotebuilder-info {
    clear: both;
}

input[type="checkbox"] {margin-top: 5px;}

/*.form-radios span {cursor: pointer;}
.form-radios label{position:relative;}
.form-radios input[type=checkbox]{-moz-opacity:0;-webkit-opacity:0;opacity:0;position:static\9;}
.form-radios input[type=radio]{-moz-opacity:0;-webkit-opacity:0;opacity:0;position:static\9;}
.form-radios input[type=checkbox] + span::before{background-image:url(/sites/all/modules/custom/fitzalan_quip/images/radio-buttons.png);background-repeat:no-repeat;content:"";display:inline-block;height:15px;vertical-align:bottom;width:15px;cursor:pointer !important;}
.form-radios input[type=checkbox]:hover + span::before,.form-radios input[type=checkbox]:active + span::before{background-position:0 -30px;}
.form-radios input[type=checkbox]:checked + span::before{background-position:0 -15px;}
.form-radios input[type=radio] + span::before{background-image:url(/sites/all/modules/custom/fitzalan_quip/images/radio-buttons.png);background-repeat:no-repeat;content:"";display:inline-block;height:15px;vertical-align:bottom;width:15px;cursor:pointer !important;}
.form-radios input[type=radio]:hover + span::before,.form-radios input[type=checkbox]:active + span::before{background-position:0 -30px;}
.form-radios input[type=radio]:checked + span::before{background-position:0 -15px;}*/

#ui-datepicker-div {border: 1px solid #ccc !important;}
.ui-datepicker .ui-datepicker-header {background: #a9cd6d !important;}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {color:#71a8c4 !important;border: #fff solid 1px !important;}
td .ui-state-default:hover, .ui-datepicker-today {background: #71a8c4 !important; color: #fff !important; border: #fff solid 1px !important;}
.ui-datepicker-header .ui-corner-all:hover, .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {color: #fff !important; background: #71a8c4 !important;border: #fff solid 1px !important;}

#wrapper-person-referrer {
    display: none;
}
    
}


.privacy { text-align: center; }
.quote-arrow-box{ text-align: center; }