/********************* miniform ************************/

#getquote-miniform-container {
    background: url(../images/miniform-bg.jpg) no-repeat center bottom;
    padding: 0 10px;
    color: #000;
    height: 400px;
}

#getquote-miniform-container h3 {
    color: #fff;
    font-size: 28px;
    margin:0px;
    text-align: center;
    padding: 15px 0 20px 0;
    font-family: LubalinDemi,'Times New Roman',Times,serif;
    line-height: 32px;
}

#getquote-miniform-container h3 span {
    font-size: 20px;
    line-height: 25px;
}

#getquote-miniform-container li {
    color: #fff;
    list-style: none;
    background: none;
    line-height: 15px;
}

#getquote-miniform-container p {
    color: #fff;
    text-align: center;
    margin: 20px 0 5px 0;
    padding: 0;
}

#getquote-miniform-container .getquote-miniform-small-text {
    font-size: 10px;
    margin-top: 0;
}

#getquote-miniform-container .form-radios {
    padding:7px 0px 10px 0px;
    width:85%;
    margin:0px auto;
}

#getquote-miniform-container .form-radios .form-item {
    display:block;
}

#rquip-embedded-quote-engine .form-radios .form-item label {
    width: 200px !important;
}

#getquote-miniform-container #submit {
    width:85%;
    margin:0px auto;
}

#block-fitzalan_quip-0 #getquote-miniform-container #edit-quote-submit, #block-rquip_host-0 #getquote-miniform-container #edit-quote-submit {
    font-family: LubalinDemi,"Times New Roman",Times,serif !important;
    text-align: center;
    width: 170px;
    border: none;
    cursor: pointer;
    padding: 7px 10px;
    font-style: normal;
    font-weight: 100;
    color: #fff;
    background:#e9600b;
    background:-moz-linear-gradient(top,#e9600b 0%,#e98140 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e9600b),color-stop(100%,#e98140));
    background:-webkit-linear-gradient(top,#e9600b 0%,#e98140 100%);
    background:-o-linear-gradient(top,#e9600b 0%,#e98140 100%);
    background:-ms-linear-gradient(top,#e9600b 0%,#e98140 100%);
    background:linear-gradient(to bottom,#e9600b 0%,#e98140 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e98140',endColorstr='#e9600b',GradientType=0 );
    text-shadow: 0px 1px #c95102;
}

#block-fitzalan_quip-0 #getquote-miniform-container #edit-quote-submit:hover, #block-rquip_host-0 #getquote-miniform-container #edit-quote-submit:hover {
    background: #ffba4c;
    background: -moz-linear-gradient(top,#ffba4c 0%,#dc8a00 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffba4c),color-stop(100%,#dc8a00));
    background: -webkit-linear-gradient(top,#ffba4c 0%,#dc8a00 100%);
    background: -o-linear-gradient(top,#ffba4c 0%,#dc8a00 100%);
    background: -ms-linear-gradient(top,#ffba4c 0%,#dc8a00 100%);
    background: linear-gradient(to bottom,#ffba4c 0%,#dc8a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba4c',endColorstr='#dc8a00',GradientType=0 );
}

#new-instruct-button {
    height: auto;
    text-align: center;
    width: 200px;
    margin: 20px 0 0 0;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-family: LubalinDemi,"Times New Roman",Times,serif;
    font-style: normal;
    font-weight: 100;
    color: #fff;
    background:#e9600b;
    background:-moz-linear-gradient(top,#e9600b 0%,#e98140 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#e9600b),color-stop(100%,#e98140));
    background:-webkit-linear-gradient(top,#e9600b 0%,#e98140 100%);
    background:-o-linear-gradient(top,#e9600b 0%,#e98140 100%);
    background:-ms-linear-gradient(top,#e9600b 0%,#e98140 100%);
    background:linear-gradient(to bottom,#e9600b 0%,#e98140 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#e98140',endColorstr='#e9600b',GradientType=0 );
    font-size: 18px;
    text-shadow: 0px 1px #c95102;
}

#new-instruct-button:hover {
    background: #ffba4c;
    background: -moz-linear-gradient(top,#ffba4c 0%,#dc8a00 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffba4c),color-stop(100%,#dc8a00));
    background: -webkit-linear-gradient(top,#ffba4c 0%,#dc8a00 100%);
    background: -o-linear-gradient(top,#ffba4c 0%,#dc8a00 100%);
    background: -ms-linear-gradient(top,#ffba4c 0%,#dc8a00 100%);
    background: linear-gradient(to bottom,#ffba4c 0%,#dc8a00 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffba4c',endColorstr='#dc8a00',GradientType=0 );
}

#new-callback-button {
    height: auto;
    text-align: center;
    width: 200px;
    margin: 20px 0 0 0;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-family: LubalinDemi,"Times New Roman",Times,serif;
    font-style: normal;
    font-weight: 100;
    color: #666;
    background: #eee;
    background: -moz-linear-gradient(top,#eee 0%,#ccc 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#eee),color-stop(100%,#ccc));
    background: -webkit-linear-gradient(top,#eee 0%,#ccc 100%);
    background: -o-linear-gradient(top,#eee 0%,#ccc 100%);
    background: -ms-linear-gradient(top,#eee 0%,#ccc 100%);
    background: linear-gradient(to bottom,#eee 0%,#ccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee',endColorstr='#ccc',GradientType=0 );
    font-size: 18px;
}

#new-callback-button:hover {
    background:#eee;
    background:-moz-linear-gradient(top,#ccc 0%,#eee 100%);
    background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ccc),color-stop(100%,#eee));
    background:-webkit-linear-gradient(top,#ccc 0%,#eee 100%);
    background:-o-linear-gradient(top,#ccc 0%,#eee 100%);
    background:-ms-linear-gradient(top,#ccc 0%,#eee 100%);
    background:linear-gradient(to bottom,#ccc 0%,#eee 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccc',endColorstr='#eee',GradientType=0 );
}

.instructing {display: none;}
#fitz-quote-your-results-wrapper {padding:0;background: #fff !important;}

#fitz-quote-your-results-wrapper #key-facts-title {
    font-size: 20px;
    padding: 0;
    background: none;
    margin-bottom: 20px;
}
#fitz-quote-your-results-wrapper h2 {
    padding: 0;
    font-size:15px;
    padding-left: 50px;
    background: white no-repeat 25px 3px;
}

#fitz-quote-your-results-wrapper p {
    padding: 0 0 10px 50px;
}

#top-instruct {
    text-align: left;
    position: absolute !important;
    margin: 25px 0 0 360px;
    z-index: 1000;
}

#fitz-quote-your-results-wrapper .privacy-policy {
    width:300px;
    color: #0087c8;
    text-align: left;
    margin: 0;
    padding-left: 20px;
    margin-left: 50px;
    font-size: 11px;
}

#top-instruct .privacy-policy {
    width:300px;
    color: #0087c8;
    text-align: left;
    margin: 0;
    padding-left: 20px;
    font-size: 11px;
}
#top-instruct .privacy-policy a, #fitz-quote-your-results-wrapper .privacy-policy a {
    font-size: 11px;  
}
#fitz-quote-your-results-wrapper .your-quote-contact .quote-contact-phone {
    float:left;
    margin-left:0px;
    margin-right:5px;
    height: 80px;
}

#fitz-quote-your-results-wrapper .your-quote-contact p{
    font-size: 12px;
    line-height: 13px;
}

#block-fitzalan_quip-1 {
    width: 660px;
}

.ui-widget-header {
    border: none !important;
    background: #0087c8 !important;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
	border: 1px solid #fbcb09 !important;
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid #e98140 !important;
    background: #e9600b !important;
    color: #fff !important;
}

.skinned-form-controls span {cursor: pointer;}
.skinned-form-controls label{position:relative;}
.skinned-form-controls input[type=radio]{-moz-opacity:0;-webkit-opacity:0;opacity:0;position:static\9;width: 0;margin: 0;}
.skinned-form-controls input[type=radio] + label span::before{background-repeat:no-repeat;content:"";display:inline-block;height:15px;vertical-align:bottom;cursor:pointer !important;}
.skinned-form-controls input[type=radio]:checked + label span::before{background-position:0 -5px;}

.product-select #form-layout-services {display:none;}
#quotebuilder-steptwo-menu .quotebuilder-menu-item#quotebuilder-menu-bar-1 {cursor:pointer;}

#edit-pco-stamp-duty-buy-to-let{
    opacity: 100;
}

#form-layout-person .form-required {
    display:none;
}

#form-layout-person .gdpr .text {
    font-size:12px;
    color: #39b54a;
    float:right;
    display:inline-block;
    margin-bottom:10px;
}
#rquip-embedded-quote-engine .form-type-textfield input.form-text {
    width: 50%;
}
#rquip-embedded-quote-engine .form-item {
    display:inline-block;
    width:100%;
}

#wrapper-yde-email input.form-text, #wrapper-yde-telephone input.form-text {
    margin-bottom: 0px;
}

@media only screen and (max-width: 960px) {
    #rquip-embedded-quote-engine .form-type-textfield input.form-text {
        width: 100%;
    }
}
